// * {
//         all: unset;
// }

.bar {
        color: #b0b4bc;
}

.netstate {
        margin-right: 20px;
}

.metric {
        scale {
                trough {
                        all: unset;
                        background-color: #4e4e4e;
                        border-radius: 50px;
                        min-height: 3px;
                        min-width: 50px;
                        margin-left: 10px;
                        margin-right: 20px;
                        highlight {
                                all: unset;
                                background-color: #D35D6E;
                                color: #000000;
                                border-radius: 10px;
                        }
                }
        }
}

.power-main-button {
        font-size: 24px;
        padding: 0 10px;
}

.power-menu {
        background: #2f343f;
        border-radius: 8px;
        padding: 10px;
        border: 1px solid #4c566a;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.power-button {
        margin: 5px 0;
        padding: 8px 15px;
        border-radius: 4px;
        background: #434c5e;
        min-width: 180px;
}

.power-button:first-child {
        color: #bf616a;
}

.power-button:last-child {
        color: #ebcb8b;
}

.power-button:hover {
        background: #4c566a;
}
